
<h3 class="card-title">{{controller.project.name}}</h3>

<p>{{controller.project.description}}</p>
<hr/>
<p ng-hide="controller.issues.length > 0">There are no issues on this project yet.</p>
<div class="panel-group" ng-repeat="issue in controller.issues">
  <div class="panel panel-default" ng-class="{ 'panel-info' : issue.status == 'open',
                                              'panel-primary' : issue.status == 'priority',
                                              'panel-success' : issue.status == 'complete',
                                              'panel-warning' : issue.status == 'on hold' || issue.status == 'client feedback'
                                             }">
    <div class="panel-heading">
      <div class="status-select pull-right">
        <label>Status: </label>
        {{issue.status}}
        <form>
          <select class="selectpicker" ng-model="issue.status" ng-change="controller.updateIssue(issue, issue.status)" ng-options="option for option in controller.statuses"></select>
        </form>
      </div>
      <h4 class="card-title">{{issue.name}}</h4>
    </div>
    <div class="panel-body">
      <p>{{issue.description}}</p>
      <p ng-show="issue.links">Reference: {{issue.links}}</p>
    </div>
    <div class="panel-footer">
      <p>Assigned to <strong>{{issue.assigned_to}}</stron><span ng-show="issue.due_date">, due <strong>{{issue.due_date}}</strong></span></p>
    </div>
  </div><!-- .panel-default -->
</div><!-- .panel-group -->

<hr/>
<h3>Add an Issue</h3>
<hr/>
<form ng-submit="controller.addIssue(controller.newIssue)">
  <div class="form-group">
    <label>Name:</label>
    <input required type="text" ng-model="controller.newIssue.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea ng-model="controller.newIssue.description" class="form-control" />
    </textarea>
  </div>
  <div class="form-group">
    <label>Assigned to:</label>
    <select required class="form-control" ng-model="controller.newIssue.assigned_to" ng-options="user.name as user.name for user in controller.users"></select>
  </div>
  <div class="form-group">
    <label>Due Date:</label>
    <input type="text" ng-model="controller.newIssue.due_date" class="form-control" />
  </div>
  <div class="form-group">
    <label>Page URL</label>
    <input type="text" ng-model="controller.newIssue.page_url" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Add Issue</button>
</form>
