
{{controller.issues}}

<h3 class="card-title">{{controller.project.name}}</h3>

<p>{{controller.project.description}}</p>
<hr/>
<h4 ng-show="!controller.issues.length">There are no issues on this project yet.</h4>
<uib-accordion>
  <h4 ng-show="controller.issues.length > 0">Issues</h4>
  <div dnd-list="controller.issues" class="dnd-container">
    <div uib-accordion-group  class="panel" ng-class="{ 'panel-info' : issue.status == 'open',
                                                'panel-primary' : issue.status == 'priority',
                                                'panel-success' : issue.status == 'complete',
                                                'panel-warning' : issue.status == 'on hold' || issue.status == 'client feedback'
                                              } || " heading="{{issue.name}} -- {{issue.status}}"
                                              ng-repeat="issue in controller.issues"
                                              dnd-draggable="issue"
                                              dnd-effect-allowed="move"
                                              dnd-moved="controller.dropSort($index)"
                                              draggable="true">
      <p>{{issue.description}}</p>
      <hr/>
      <p>Assigned to <strong>{{issue.assigned_to}}</strong><span ng-show="issue.due_date">, due <strong>{{issue.due_date}}</strong></span></p>
      <p ng-show="issue.links">Reference: {{issue.links}}</p>
      <hr/>
      <form class="form-inline">
        <label>Set Status:</label>
        <select class="selectpicker form-control" ng-model="issue.status" ng-change="controller.updateIssue(issue, issue.status)" ng-options="option for option in controller.statuses"></select>
      </form>
    </div>
  </div>
</uib-accordion>

<hr/>
<h3>Add an Issue</h3>
<hr/>
<form ng-submit="controller.addIssue(controller.newIssue)">
  <div class="form-group">
    <label>Name:</label>
    <input required type="text" ng-model="controller.newIssue.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea ng-model="controller.newIssue.description" class="form-control" />
    </textarea>
  </div>
  <div class="form-group">
    <label>Assigned to:</label>
    <select required class="form-control" ng-model="controller.newIssue.assigned_to" ng-options="user.name as user.name for user in controller.users"></select>
  </div>
  <div class="form-group">
    <label>Due Date:</label>
    <input type="text" ng-model="controller.newIssue.due_date" class="form-control" />
  </div>
  <div class="form-group">
    <label>Page URL</label>
    <input type="text" ng-model="controller.newIssue.links" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Add Issue</button>
</form>
