/* Header */

h1 a {
  color: black;
}

h1 a:hover {
  text-decoration: none;
}

/* Global */

body {
  background-color: #fcfcfc;
}

.container-fluid {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default {
  border: 1px solid darkgrey;
  box-shadow: 1px 1px 1px lightgrey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-default a {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.slack-btn{
  position: absolute;
  top: 25px;
  right: 0px;
}

/* Form */

.panel form {
  margin-bottom: 0;
}

form {
  margin-bottom: 50px;
}

.status-select {
  position: relative;
  top: 9px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 0;
}

.panel {
  position: relative;
  transition: .25s;
}

.panel .btn {
  top: 12px;
  right: 20px;
  position: absolute;
}

/* Angular Drag and Drop Styles */

li.dndPlaceholder {
  height: 37px;
  border-radius: 3px;
  background-color: #ddd;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 0;
}
